<!DOCTYPE html>
<html>
<head>
    <title>Text Summarization</title>
    <script>
        function adjustTextArea() {
            var textArea = document.getElementById("textArea");
            textArea.style.height = "1px";
            textArea.style.height = (25 + textArea.scrollHeight) + "px";
        }
    </script>
</head>
<body onload="adjustTextArea()">
    <h1>Text Summarization</h1>
    <form action="/predict" method="post">
        <textarea id="textArea" name="text" rows="10" cols="50" oninput="adjustTextArea()"></textarea><br>
        <input type="submit" value="Summarize">
    </form>
</body>
</html>
